<!-- <app-header></app-header>
<div class="hcl-layout">
  <app-sidebar></app-sidebar>
  <div class="container px-3 px-md-4 py-3">
    <h2 class="request-stats-title fw-bold text-primary mb-4 mt-3 display-5">
      Request Statistics
    </h2>
    <div class="row align-items-start mb-4">
      <div class="col-12 col-md-8 mb-3">
        <div class="card shadow-sm p-3">
          <canvas id="barChart"></canvas>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow-sm p-3">
          <canvas id="pieChart"></canvas>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div> -->

<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="flex-grow-1">
    <app-header></app-header>
    <div class="container-fluid mt-3">
      <app-chart
        [barChartData]="barChartData"
        [pieChartData]="pieChartData"
      ></app-chart>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
