<!-- <div class="row flex-nowrap"> -->
<div class="col-auto px-2" style="background-color: #0066b3">
  <div
    class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
  >
    <a
      routerLink="/home"
      class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <span class="fs-5 d-none d-sm-inline"
        ><img class="hcl-logo" src="/assets/HCL-Technologies-Logo.png"
      /></span>
    </a>
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
      id="menu"
    >
      <li class="nav-item">
        <a routerLink="/home" class="nav-link align-middle px-0">
          <i class="fs-4 bi-house"></i>
          <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link align-middle px-0">
          <i class="fs-4 bi-speedometer2"></i>
          <span class="ms-1 d-none d-sm-inline">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/requests" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-table"></i>
          <span class="ms-1 d-none d-sm-inline">Requests Raised</span></a
        >
      </li>
      <li>
        <a routerLink="/specimen-pickup" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-bag-plus-fill"></i>
          <span class="ms-1 d-none d-sm-inline">Specimen Pickup</span></a
        >
      </li>
      <li>
        <a routerLink="/patients" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-people"></i>
          <span class="ms-1 d-none d-sm-inline">Patients</span>
        </a>
      </li>
      <li>
        <a routerLink="/test-directory" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-cart-plus-fill"></i>
          <span class="ms-1 d-none d-sm-inline">Test Directory</span>
        </a>
      </li>
      <li>
        <a routerLink="/help-center" class="nav-link px-0 align-middle">
          <i class="fs-5 bi-info-circle-fill"></i>
          <span class="ms-1 d-none d-sm-inline">Help Center</span></a
        >
      </li>
    </ul>
    <hr />
    <div class="pb-4">
      <a
        href="/profile"
        class="d-flex align-items-center text-white text-decoration-none"
        aria-expanded="false"
      >
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm-1emdux8PtlSiNCqXeAa6H6h9-w8bCtTjw&s"
          alt="user-profile"
          width="30"
          height="30"
          class="rounded-circle"
        />
        <span class="d-none d-sm-inline mx-1 px-1">Dr.XXXXXXX</span>
      </a>
    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</div>
